	#content {
        background-color: rgba(255, 25, 8, 0.308);
       
        border: 1px solid #c4c6ca;
        margin: 8px auto;
        padding: 5px 5px 0;
        position: relative;
        text-shadow: 0 1px 0 #fff;
        font-size: 15px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        border-radius: 20px;
        -moz-box-shadow: rgb(150,150,150) 5px 5px 10px;
        -webkit-box-shadow: rgb(150,150,150) 5px 5px 10px;
        box-shadow: rgb(150,150,150) 5px 5px 10px;
    }
    #cont {
        background-color: rgba(6, 250, 250, 0.575);
       
        border: 1px solid #c4c6ca;
        margin: 8px auto;
        padding: 5px 5px 0;
        position: relative;
        text-shadow: 0 1px 0 #fff;
        font-size: 15px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        border-radius: 20px;
        -moz-box-shadow: rgb(150,150,150) 5px 5px 10px;
        -webkit-box-shadow: rgb(150,150,150) 5px 5px 10px;
        box-shadow: rgb(150,150,150) 5px 5px 10px;
    }

    
  
    .texcolor{
        color:rgb(169, 170, 173);
        font-style: italic;
    }
    .styletex{
        font-style: Arial;
        font-size: 18pt; 
    }
    .smscolor{
        color:rgb(6, 42, 121);
        font-style: italic;
    }
    .cimg img:hover{
        box-shadow: 0px 0px 10px  black;
    }
    
        .tamimg img{
        width: 130px;
        height: 110px;}
        .T_img{
        width: 50px;
        height: 50px;}
    
        .T_img_max{
        width: 200px;
        height: 250px;}
        .pos{
            float: right;
    
        }
    
    .adaptar{
        width: 100%;
    }
    body{
        padding: 10px;
        margin: 10px;
    }
    
    
    .logo h1 {
        font-family: 'Lobster', cursive;
        color: #fff;
        font-size: 30px;
    
    }
    
    .logo span {
        color: #999;
    }
    .container11 { margin: 15px auto; position: relative; width: 290px; height: 30px; } 

    .selector{
        position: relative;
        border: 1px solid rgb(47, 45, 45);
        width: 80%;
        height:38px;
        overflow:hidden;
        font-size: 14px;
       

        }
      
   .redondo{
   -moz-border-radius: 10px;
    -webkit-border-radius: 10px;  
    border-radius: 10px;       
    -moz-box-shadow: rgb(150,150,150) 5px 5px 10px;
    -webkit-box-shadow: rgb(150,150,150) 5px 5px 10px;
    box-shadow: rgb(150,150,150) 5px 5px 10px;
}
.user-text-online {
    font-size:13px;
    color:#fff
}
.user-circle-online {
    width: 15px!important;
    height: 15px!important;
}


/* Circle Buttons */

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}
 
.section-title h3{
    color: rgb(248, 240, 240) !important;
    font-style: italic;
    font-size: 28px;
    font-family: 'Oswald', sans-serif;
    text-transform: none;
}

.section-title p {
    padding-bottom: 60px;
    color: rgb(252, 248, 248);
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
}

.contact-info {
    margin-bottom: 5px;
    text-align: center;
  }
  
  .contact-info i {
    font-size: 20px;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 50px;
    color:rgb(61, 59, 59)
  }
  